<launch>
  <arg name="camera" default="kinect_head"/>
  <arg name="input_cloud" default="/$(arg camera)/depth_registered/quater/points"/>
  <arg name="box_filter_frame" default="/base_link"/>

  <node name="attension_clipper" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/AttentionClipper"
    output="screen">
    <remap from="~input/points" to="$(arg input_cloud)"/>
    <rosparam>
      use_multiple_attention: false
      dimension_x: 1.0
      dimension_y: 1.0
      dimension_z: 1.2
      initial_pos: [0.5, 0.0, 0.7]
    </rosparam>
    <param name="frame_id" value="$(arg box_filter_frame)" />
  </node>

  <node name="ExtractIndices" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/ExtractIndices"
    output="screen">
    <remap from="~input" to="$(arg input_cloud)"/>
    <remap from="~indices" to="attension_clipper/output/point_indices"/>
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>

  <node name="multi_plane_estimate" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/OrganizedMultiPlaneSegmentation"
        output="screen">
    <remap from="~input" to="ExtractIndices/output" />
    <rosparam>
      max_curvature: 0.005
      estimate_normal: true
      min_size: 100
    </rosparam>
  </node>

  <node name="multi_plane_extraction" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/MultiPlaneExtraction"
    output="screen">
    <remap from="~input" to="ExtractIndices/output"/>
    <remap from="~input_polygons" to="multi_plane_estimate/output_polygon"/>
    <remap from="~input_coefficients" to="multi_plane_estimate/output_coefficuents"/>
    <remap from="~indices" to="multi_plane_estimate/output"/>
    <rosparam>
      min_height: 0.01
      max_height: 0.3
    </rosparam>
  </node>

  <node name="hsi_filter" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/HSIColorFilter" 
    output="screen">
    <remap from="~input" to="multi_plane_extraction/output" />
    <rosparam>
      use_indices: false
      keep_organized: false
    </rosparam>
    <param name="h_limit_max" value="1" />
    <param name="h_limit_min" value="127" />
    <param name="s_limit_max" value="85" />
    <param name="s_limit_min" value="0" />
    <param name="i_limit_max" value="141" />
    <param name="i_limit_min" value="0" />
  </node>

  <node name="clustering" pkg="nodelet" type="nodelet" args="manager"
          output="screen" />
  <node pkg="nodelet" type="nodelet" name="euclidean_clustering"
        args="standalone jsk_pcl/EuclideanClustering" output="screen">
        <remap from="~input" to="hsi_filter/output" />
    <rosparam>
      tolerance: 0.02
      min_size: 10
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet"
        name="cluster_decomposer"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposerZAxis"
        output="screen" clear_params="true">
    <remap from="~input" to="hsi_filter/output" />
    <remap from="~target" to="euclidean_clustering/output" />
    <remap from="~debug_output" to="debug_output" />
    <remap from="~boxes" to="boxes" />
    <rosparam>
        align_boxes: True
        align_boxes_with_plane: False
        target_frame_id: base_footprint
    </rosparam>
  </node>

</launch>
