<launch>
  <arg name="fetch" default="true"/>
  <arg name="remote" default="true"/>
  <arg name="camera" default="head_camera_remote" if="$(arg remote)"/>
  <arg name="camera" default="kinect_head" unless="$(arg remote)"/>
  <arg name="use_mask" default="false"/>

  <include file="./reproduce_pc.launch" if="$(arg remote)"/>
  <arg name="input_image" default="/$(arg camera)/rgb/image_rect_color"/>
  <arg name="input_camera_info" default="/$(arg camera)/rgb/camera_info"/>


  <!-- please add fetch -->
  <arg name="input" default="/$(arg camera)/depth_registered/points"/>
  <arg name="box_filter_frame" default="/head_camera_rgb_optical_frame" if="$(arg fetch)"/>
  <arg name="box_filter_frame" default="/head_mount_kinect_rgb_optical_frame" unless="$(arg fetch)"/>

  <group ns="/anne">
    <node name="boxfilter_pre" pkg="nodelet" type="nodelet"
      args="standalone jsk_pcl/AttentionClipper"
      output="screen">
      <remap from="~input/points" to="$(arg input)"/>
      <rosparam>
        use_multiple_attention: false
      </rosparam>
      <param name="dimension_x" value="10"/>
      <param name="dimension_y" value="10"/>
      <param name="dimension_z" value="10"/>
      <param name="initial_pos" value="[0.0 0.0 0.0]"/>
      <param name="frame_id" value="$(arg box_filter_frame)" />
    </node>

    <node name="ExtractIndices" pkg="nodelet" type="nodelet"
      args="standalone jsk_pcl/ExtractIndices"
      output="screen">
      <remap from="~input" to="$(arg input)"/>
      <remap from="~indices" to="boxfilter_pre/output/point_indices"/>
      <rosparam>
        keep_organized: true
      </rosparam>
    </node>

    <node name="hsi_filter" pkg="nodelet" type="nodelet"
      args="standalone jsk_pcl/HSIColorFilter" 
      output="screen">
      <remap from="~input" to="ExtractIndices/output" />
      <rosparam>
        use_indices: false
        keep_organized: false
      </rosparam>
      <param name="h_limit_max" value="8" />
      <param name="h_limit_min" value="-128" />
      <param name="s_limit_max" value="255" />
      <param name="s_limit_min" value="45" />
      <param name="i_limit_max" value="255" />
      <param name="i_limit_min" value="0" />
    </node>
  </group>
</launch>
