<launch>
  <arg name="manager" default="tmp" />

  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager"
          output="screen" />

  <node pkg="nodelet" type="nodelet" name="euclidean_clustering"
        args="load jsk_pcl/EuclideanClustering $(arg manager)" output="screen">
        <remap from="~input" to="/head_camera/depth_registered/quater/points" />
    <rosparam>
      tolerance: 0.02
      min_size: 50
    </rosparam>
  </node>
</launch>

