@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body
{
    font-family: Vollkorn
}

h1, h2, h3, h4, h5, a.navbar-brand, .navbar
{
    font-family: Vollkorn
}

.list-group-item
{
    padding: 2px 2px
}
