<launch>
    <param name="robot_description" 
        command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2_no_kinect.urdf.xacro'" />

    <node name="self_filter" pkg="robot_self_filter" type="self_filter" output="screen">
        <remap from="cloud_in" to="/kinect_head/depth_registered/throttled/points" />
        <remap from="cloud_out" to="/kinect_head/self_filtered_points" />
        <param name="sensor_frame" type="string" value="laser_tilt_link" />        
        <param name="subsample_value" type="double" value=".01"/>
        <rosparam command="load" file="$(find online_sdf)/config.yaml" />
    </node>

    <include file="$(find online_sdf)/launch/scene.launch"/>
    <include file="$(find online_sdf)/launch/voxblox.launch">
        <arg name="cloud_in" value="/kinect_head/self_filtered_points"/>
    </include>
    <include file="$(find pr2_base_trajectory_action)/launch/pr2_base_trajectory_action.launch"/>
    <!--include file="$(find online_sdf)/launch/filter.launch"/-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find online_sdf)/config/demo_voxblox.rviz"/>
</launch>
