<?xml version="1.0"?>
<robot name="dish">
    <link name="base_link">
        <visual>
          <origin rpy="0.0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="reduced_candy-dish.stl"/>
          </geometry>
            <material name="red">
               <color rgba="0.6 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision concave="yes">
          <geometry>
            <mesh filename="reduced_candy-dish.stl"/>
          </geometry>
          <origin rpy="0.0 0 0" xyz="0 0 0"/>
        </collision>
        <inertial>
          <mass value="0.1"/>
          <inertia ixx="0.002" ixy="0.0" ixz="0.0" iyy="0.002" iyz="0.0" izz="0.002"/>
        </inertial>
    </link>
</robot>
